<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h3>main</h3>
  <div>
      <input type="button" value="signup" onclick="signup()">
  </div>
  <script type="text/javascript">
    function signup() {
        location.htef = "/signup"
    }
  </script>
</body>
</html>