<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>GSM 익명 채팅</title>
</head>
<body>
    <% if(session){ %>
        <center>
        <div class="box"> <a href='/info'><img src="/images/user.png" width="100px"></a>
        <h2>GSM 익명 채팅</h2>
        <h4>Let's start a conversation</h4>
        <a href='/login'><img class="icon" src="/images/login.png" width="40px"></a>    
        <a href='http://localhost:8080'><img class="icon" src="/images/chat.png" width="40px" height="37px"></a>
        <a href="/board?number=1"><img class="icon" src="/images/post.png" width="40px"></a>
        </div>  
        <h5>Song Jung yeon &nbsp | &nbsp Yoon Jae Young </h5>
    </center>
    <% }else{ %>
    <center>
    <div class="box"> <img src="/images/user.png" width="100px">
    <h2>GSM 익명 채팅</h2>
    <h4>Let's start a conversation</h4>
    <a href='/login'><img class="icon" src="/images/login.png" width="40px"></a>    
    <a href='http://localhost:8080'><img class="icon" src="/images/chat.png" width="40px" height="37px"></a>
    <a href="/board?number=1"><img class="icon" src="/images/post.png" width="40px"></a>
    </div>  
    <h5>Song Jung yeon &nbsp | &nbsp Yun Jae Young </h5>
</center>
<% } %>
</body>
</html>