<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    
    <title>GSM 익명 채팅</title>
</head>
<body>
    <center>
    <div class="box"> <img src="user.png" width="100px">
    <h2>GSM 익명 채팅</h2>
    <h4>Let's start a conversation</h4>
    <a href="login.html"><img class="icon" src="login.png" width="40px"></a>    
    <a href="chatting.html"><img class="icon" src="chat.png" width="40px" height="37px"></a>
    <a href="post.html"><img class="icon" src="post.png" width="40px"></a>
    </div>  
    
    <h5>Song Jung yeon &nbsp | &nbsp Yoon Jae Young </h5>
</center>


    

</body>
</html>