<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>게시판</title>
</head>
    <style>
        .hr{
            border: 0;
            height: 1px;
            background: rgb(240, 234, 237);
        }
        .f{
            width:88%;
        }
    </style>
<body>
    <center>
    <div class="box1">
        <h2>게시판</h2> <br>
        <table border="1" bordercolor="#ccc" width="700" height="150">
                <th style="text-align: center" bgcolor="#F4F2F4">제목</th>
                <td colspan="5"> &nbsp 노아련 병신</th>
                <tr>
                    <th style="text-align: center" bgcolor="#F4F2F4">작성자</th>
                <td colspan="2"> &nbsp 송정연</th>
                    <th style="text-align: center" bgcolor="#F4F2F4">등록일</th>
                    <td colspan="2"> &nbsp 2019-07-10</th>
                <tr>
                    <td colspan="6" rowspan="10">&nbsp 수행평가 하기싫다</th>
                <tr>
                </table> <br><br>
                <hr class="hr"> <br>
                <table border="1" bordercolor="#ccc" width="700" height="150">
                    
                    <tr>
                        <th style="text-align: center" bgcolor="#F4F2F4">작성자</th>
                    <td colspan="2"> &nbsp 송정연</th>
                        <th style="text-align: center" bgcolor="#F4F2F4">등록일</th>
                        <td colspan="2"> &nbsp 2019-07-10</th>
                    <tr>
                        <td colspan="6" rowspan="10">&nbsp ㅇㅇ</th>
                    <tr>
                    </table> <br><br>

                <a href="post.html" class="btn btn-default">돌아가기</a>
                
                <h3 style="text-align:left "> &nbsp&nbsp&nbsp&nbsp&nbsp 답변</h3> <br>
                <div class="mb-2 f">
                        <textarea class="form-control" rows="5" name="content" id="content" placeholder="내용을 입력해 주세요" ></textarea>
                </div> <br>
                <a href="post.html" class="btn btn-default">작성</a>
    </div>
</center>
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>