<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
        <div class="login-form">
                <form>
                    <center> <h2>회원가입</h2> </center>
                  <input type="text" name="name" class="text-field" placeholder="이름"><br>
                  <input type="text" name="email" class="text-field" placeholder="아이디"><br>
                  <input type="password" name="password" class="text-field" placeholder="비밀번호"><br>
                  <input type="submit" value="회원가입" class="submit-btn">
                </form>
                
</body>
</html>